{% extends 'BeNeLux/base.html' %}
{% load static %}
{% block content %}

    <br>
    <div class="row">
        <div class="col-md-12">
            <div class="card border-dark mb-3">
                <div class="card card-body">
                    <h1 style="text-align: center">Account Settings</h1>
                    <hr>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card border-dark mb-3">
                <div class="card card-body">

                    <form method="POST" action="" enctype="multipart/form-data">
                        {% csrf_token %}
                            <h5 style="text-align: left">
                                {{ form.as_p }}
                            </h5>
                        <input class="btn btn-primary" type="submit" name="Update Information">
                    </form>
                </div>
            </div>
        </div>
    </div>
            <a class="btn btn-warning btn-lg" href="{% url 'home' %}"> &#8592; Home</a>
{% endblock %}